/* (Modified) Eatery Cafe Template - http://www.templatemo.com/tm-515-eatery */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}



/*---------------------------------------
    TYPOGRAPHY
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: inherit;
}

h1 {
	color: #252525;
	font-size: 3em;
	line-height: 50px;
}

h1.header {
	font-size: 2.4rem;
	font-weight: 700;
	text-align: left;
}

h2 {
	color: #353535;
	font-size: 2em;
	padding-bottom: 10px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0;
}

h3,
h3 a {
	color: #454545;
}

p {
	color: #757575;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
}



/*---------------------------------------
    GENERAL
  -----------------------------------------*/

html {
	-webkit-font-smoothing: antialiased;
}

a {
	color: #252525;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
	color: #ce3232;
	outline: none;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #000000;
}

.section-title {
	padding-bottom: 40px;
}

.section-title h2 {
	margin: 0;
}

.section-title h4 {
	color: #bfbdbd;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 0;
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section {
	position: relative;
	padding: 100px 0;
}



/*---------------------------------------
    PRE-LOADER
  -----------------------------------------*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #ffffff;
}

.spinner {
	border: 1px solid transparent;
	border-radius: 3px;
	position: relative;
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 45px;
	height: 45px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 1px solid #575757;
	border-top-color: #ffffff;
	animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}



/*---------------------------------------
    MENU
  -----------------------------------------*/

.custom-navbar {
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	padding: 16px 0;
	background-color: #1A1A1A;
	-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
}

.custom-navbar .navbar-inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.custom-navbar .navbar-inner .navbar-header {
	margin: 0 auto 0 0;
}

.custom-navbar .navbar-inner .navbar-header .navbar-brand {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	padding: 16px 16px;
}

.custom-navbar .navbar-inner .navbar-header .navbar-page {
	color: #ce3232;
	font-size: 18px;
	font-weight: bold;
	padding: 16px 16px;
	float: left;
	height: 50px;
	line-height: 20px;
}

.custom-navbar .navbar-inner .navbar-content {
	margin: 0 0 0 auto;
}

.custom-navbar .navbar-inner .navbar-content .navbar-nav .section-btn {
	background-color: #ce3232;
	border-radius: 0;
	border: 0;
	color: #f9f9f9;
	padding: 10px 24px;
	transition: all ease-in-out .25;
}

.custom-navbar .navbar-inner .navbar-content .navbar-nav .section-btn:hover {
	background-color: #f9f9f9;
	color: #ce3232;
}

.custom-navbar .navbar-toggle {
	display: none;
}



/*---------------------------------------
    LOGIN
  -----------------------------------------*/

#user-login {
	width: 392px;
	display: flex;
	flex-direction: column;
	padding: 16px;
	border: 1px solid black;
}

#user-login input {
	margin-bottom: 16px;
}

#user-login #login-submit {
	margin-bottom: 0;
}

.user-login-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.user-login-wrapper .user-login-message {
	width: 392px;
	display: flex;
	flex-direction: column;
	padding: 16px;
	border: 1px solid black;
	margin-bottom: 16px;
}

.user-login-wrapper .user-login-message p {
	margin-bottom: 0;
}



/*---------------------------------------
    ADMIN
  -----------------------------------------*/

.container#user-admin-wrapper .user-admin-search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 8px;
}

.container#user-admin-wrapper .form-control {
	margin: 0 16px;
}

.container#user-admin-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.container#user-admin-wrapper .timetable-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 8px;
}

.container#user-admin-wrapper .timetable-header p {
	margin: 0;
	margin-right: 16px;
}

.container#user-admin-wrapper .timetable-module {
	margin-bottom: 32px;
}



/*---------------------------------------
    MANAGER
  -----------------------------------------*/

.container#user-manager-wrapper {
	margin-bottom: 32px;
}

.container#user-manager-wrapper .timetable-header {
	display: flex;
	flex-direction: row;
}

.container#user-manager-wrapper .timetable-header .header {
	font-size: 2.4rem;
	font-weight: 700;
	text-align: left;
}

.container#user-manager-wrapper .tab-list {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.container#user-manager-wrapper .tab-list .timetable-item {
	width: 192px;
	min-height: 128px;
	padding: 12px;
	border-radius: 0;
	border: 1px solid #DDD;
	border-right: 0;
}

.container#user-manager-wrapper .tab-list .timetable-item:first-child {
	border-top-left-radius: .35rem;
	border-bottom-left-radius: .35rem;
}

.container#user-manager-wrapper .tab-list .timetable-item:last-child {
	margin: 0 24px 0 0;
	border-right: 1px solid #DDD;
	border-top-right-radius: .35rem;
	border-bottom-right-radius: .35rem;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-header {
	margin: 0 0 8px 0;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-header .header {
	font-weight: 600;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content {
	display: flex;
	flex-direction: column;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content .content {
	display: flex;
	flex-direction: row;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content .content .lesson {
	width: 100%;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content .content .lesson th {
	text-align: center;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content .content .lesson td {
	text-align: center;
	width: 10%;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content .content .lesson td.concern {
	background-color: #ce3232;
	color: white;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content .content .lesson td.late {
	background-color: #ffff66;
	color: #333;
}

.container#user-manager-wrapper .tab-list .timetable-item .item-content .content .lesson td.type {
	text-align: left;
	width: 70%;
}

.container#user-manager-wrapper .scroll-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 16px;
	z-index: 1000;
}

.container#user-manager-wrapper .scroll-overlay.overlay-left {
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	left: 0;
}

.container#user-manager-wrapper .scroll-overlay.overlay-right {
	background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
	right: 0;
}

.container#user-manager-wrapper .tab-content-wrapper {
	position: relative;
}

.container#user-manager-wrapper .tab-content {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: scroll;
	padding: 16px 24px;
}

.container#user-manager-wrapper .tab-content .tab-pane.active {
	display: table-row;
}



/*---------------------------------------
    LIST GROUP
  -----------------------------------------*/

.list-group {
	display: flex;
	flex-direction: row;
}

.list-group .list-group-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	padding: 0 16px;
	border-radius: 0;
	cursor: pointer;
}

.list-group .list-group-item:first-child {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	border-left: 1px solid #DDD;
}

.list-group .list-group-item:not(:last-child) {
	border-left: 1px solid #DDD;
	border-right: 0;
}

.list-group .list-group-item:last-child {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border-right: 1px solid #DDD;
}



/*---------------------------------------
    RESPONSIVE STYLES
  -----------------------------------------*/

@media screen and (max-width: 1170px) {
	.custom-navbar .navbar-nav.navbar-nav-first {
		margin-left: inherit;
	}
}

@media only screen and (max-width: 1200px) {
	.about-info {
		padding-right: 0;
	}

	.about-image {
		position: relative;
	}
}

@media only screen and (max-width: 992px) {
	section {
		padding: 60px 0;
	}

	.custom-navbar .section-btn {
		margin-left: 1em;
	}

	.slider .item {
		background-position: center;
	}

	.about-info {
		padding: 0;
	}

	.team-info {
		margin-bottom: 50px;
	}

	#menu .menu-thumb {
		width: 103%;
	}

	#testimonial {
		background-position: 50% 0 !important;
	}

	#google-map,
	.footer-info {
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.custom-navbar .nav li a {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.5em;
	}

	h1,
	h2,
	h3 {
		line-height: normal;
	}

	.custom-navbar {
		background: #ffffff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		padding: 10px 0;
		text-align: center;
	}

	.custom-navbar .nav li a {
		line-height: normal;
		padding: 10px;
	}

	.custom-navbar .navbar-brand,
	.top-nav-collapse .navbar-brand {
		color: #252525;
		font-weight: 600;
	}

	.custom-navbar .nav li a,
	.top-nav-collapse .nav li a {
		color: #575757;
	}

	.custom-navbar .navbar-nav.navbar-right li {
		display: inline-block;
	}

	.custom-navbar .navbar-nav.navbar-right .section-btn {
		display: block !important;
		width: 50%;
		margin: 10px auto 10px auto;
		padding: 10px;
	}

	.custom-navbar .section-btn a {
		color: #ffffff !important;
	}

	.slider .caption {
		padding: 0;
	}

	.menu-thumb .menu-info {
		top: 80%;
	}

	footer {
		padding: 60px 0;
		padding-bottom: 60px;
	}

	.footer-open-hour {
		right: 0;
		bottom: 0;
		margin-top: 30px;
	}
}

@media only screen and (max-width: 580px) {
	h1 {
		font-size: 2.1em;
	}

	h2 {
		font-size: 1.8em;
	}

	.menu-thumb .menu-info {
		top: 60%;
	}
}


/*****************  Manager (Janvi work)

***************************/
.container#user-manager-wrapper{
	margin-bottom: 32px;
}
.container#user-manager-wrapper .table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

.container#user-manager-wrapper .table, th, td{
	padding: 15px;
}
.container#user-manager-wrapper .table {
	width: 100%;
	background-color: #f1f1c1;
}






: 0 24px 0 0;
	border-right: 1px solid #DDD;
	border-top-right-radius: .35rem;
	border-bottom-right-radius: .35rem;
}



